<section class="relative space-y-8 backdrop-blur-[23px] bg-white bg-opacity-5">
  <div class="px-3 md:px-6 py-[120px] max-w-screen-xl mx-auto">
    <h2 class="font-black text-center mx-auto md:max-w-[500px] text-white z-10 leading-[3rem] mb-4">
      Our Vast Array of Services Related To
    </h2>
    <p class="mb-[60px] text-center max-w-screen-md mx-auto text-gray-300 leading-7" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque aut quibusdam at tempora? Inventore aut atque earum eius possimus non placeat fuga ducimus dolore consequatur ea illum, eveniet quaerat ut.</p>
    <div class="pb-10 flex justify-center items-center ">
      <div class="flex flex-col md:flex-row  justify-center items-center border p-3">
        <button
          class="relative overflow-hidden py-4 px-10 text-sm text-center font-bold uppercase button-active duration-1000"
          id="brandingButton" onclick="turnOnBrandingService()">
          Brand Based Operation
        </button>
  
        <!-- <span class="hidden md:block w-0.5 min-h-[50px] h-full bg-white"></span> -->
        <!-- <span class="block md:hidden min-w-[50px] w-full h-0.5 bg-white"></span> -->
        <button
          class="relative overflow-hidden py-4 px-8 text-sm text-center font-bold uppercase button-inactive duration-1000"
          id="technologyButton" onclick="turnOnTechnlogyService()">
          Technology Besed Service
        </button>
      </div>
    </div>
    <div class="duration-1000" id="brandingContent">
      <div
        class="swiffy-slider slider-item-show2 slider-item-reveal slider-item-snapstart slider-nav-autoplay slider-nav-autopause lider-nav-arrow slider-nav-sm slider-nav-outside slider-indicators-outside slider-nav-animation max-w-screen-xl mx-auto"
        data-slider-nav-autoplay-interval="4000">
        <ul class="slider-container">
          <li class="slide-visible">
            <%- include('../Component/cardTemplate.ejs',{title:'Branding'}) %>
          </li>
          <li class="slide-visible">
            <%- include('../Component/cardTemplate.ejs',{title:'Brand Management'}) %>
          </li>
          <li>
            <%- include('../Component/cardTemplate.ejs',{title:'Digital Martekting'}) %>
          </li>
          <li>
            <%- include('../Component/cardTemplate.ejs',{title:'Content & Creative'}) %>
          </li>
        </ul>

        <button type="button" class="slider-nav z-20"></button>
        <button type="button" class="slider-nav slider-nav-next z-20"></button>
      </div>
    </div>
    <div class="hidden duration-1000" id="technologyContent">
      <div
        class="swiffy-slider slider-item-show2 slider-item-reveal slider-item-snapstart slider-nav-autoplay slider-nav-autopause lider-nav-arrow slider-nav-sm slider-nav-outside slider-indicators-outside slider-nav-animation max-w-screen-xl mx-auto"
        data-slider-nav-autoplay-interval="4000">
        <ul class="slider-container">
          <li class="slide-visible">
            <%- include('../Component/cardTemplate.ejs',{title:'Website Development'}) %>
          </li>
          <li class="slide-visible">
            <%- include('../Component/cardTemplate.ejs',{title:'Application Development'}) %>
          </li>
          <li>
            <%- include('../Component/cardTemplate.ejs',{title:'Domain & Hosting'}) %>
          </li>
          <li>
            <%- include('../Component/cardTemplate.ejs',{title:'Consultation Service'}) %>
          </li>
        </ul>

        <button type="button" class="slider-nav z-20"></button>
        <button type="button" class="slider-nav slider-nav-next z-20"></button>
      </div>
    </div>
    <button class="z-10 group relative overflow-hidden mt-[60px] py-4 px-8 text-sm font-bold uppercase border border-white hover:border-transparent after:content-[''] after:w-full after:h-full after:absolute after:rotate-45 after:-bottom-10 after:left-0 after:scale-[2.6] after:-z-10 after:-translate-x-full after:translate-y-full hover:after:-translate-y-0 hover:after:translate-x-0 hover:after:rotate-0 hover:after:ease-in-out after:duration-1000 hover:text-black text-white after:bg-gradient-to-r after:from-yellow-300 after:via-amber-300 after:to-amber-400 hover:tracking-wider duration-1000 font-primary flex flex-nowrap gap-2 mx-auto">
      Show All Services
    </button>
  </div>
</section>