<section class="relative py-32  px-6 md:px-8 max-w-screen-xl mx-auto space-y-8 border-b-2 border-b-[#101010]">
    <h2 class="text-center text-white  mb-16">Our Clients</h2>
    <div
      class=" swiffy-slider slider-item-show6 slider-item-nogap slider-item-snapstart slider-nav-arrow slider-nav-sm slider-nav-autoplay slider-nav-autopause slider-indicators-outside slider-indicators-highlight slider-nav-animation slider-nav-animation-fadein p-0 m-0"
      data-slider-nav-autoplay-interval="2000">
      <ul class="slider-container flex items-center">
        <% for( let i=1; i <=15; i++ ) { %>
          <li>
            <div id="slide<%= i %>">
              <img src="./assets/idalogos/SVG/asset<%= i %>.svg"
                class="grayscale hover:grayscale-0 active:grayscale-0 duration-1000 h-[100px] px-3"
                alt="" />
            </div>
          </li>
          <% } %>

      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
    </div>
    <div
      class=" swiffy-slider slider-item-show6 slider-item-nogap slider-item-snapstart slider-nav-arrow slider-nav-sm slider-nav-autoplay slider-nav-autopause slider-indicators-outside slider-indicators-highlight slider-nav-animation slider-nav-animation-fadein p-0 m-0"
      data-slider-nav-autoplay-interval="2500">
      <ul class="slider-container flex items-center">
        <% for( let i=15; i <=30; i++ ) { %>
          <li>
            <div id="slide<%= i %>">
              <img src="./assets/idalogos/SVG/asset<%= i %>.svg"
                class="grayscale hover:grayscale-0 active:grayscale-0 duration-1000 h-[100px] px-3"
                alt="" />
            </div>
          </li>
          <% } %>

      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
    </div>
    <div
      class="swiffy-slider slider-item-show6 slider-item-nogap slider-item-snapstart slider-nav-arrow slider-nav-sm slider-nav-autoplay slider-nav-autopause slider-indicators-outside slider-indicators-highlight slider-nav-animation slider-nav-animation-fadein p-0 m-0"
      data-slider-nav-autoplay-interval="2400">
      <ul class="slider-container flex items-center ">
        <% for( let i=30; i <=45; i++ ) { %>
          <li>
            <div id="slide<%= i %>">
              <img src="./assets/idalogos/SVG/asset<%= i %>.svg"
                class="grayscale hover:grayscale-0 active:grayscale-0 duration-1000 h-[100px] px-3"
                alt="" />
            </div>
          </li>
          <% } %>
      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
    </div>
  </section>